NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_STARKNET_CHAIN_ID=SN_SEPOLIA
NEXT_PUBLIC_STARKNET_RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/5QQMV6kqa3iDaH_EbNhTw
NEXT_PUBLIC_ADUSD_ADDRESS=0x...
NEXT_PUBLIC_ADNGN_ADDRESS=0x...
NEXT_PUBLIC_ADKES_ADDRESS=0x...
NEXT_PUBLIC_ADGHS_ADDRESS=0x...
NEXT_PUBLIC_ADZAR_ADDRESS=0x...
NEXT_PUBLIC_ADAM_SWAP_ADDRESS=0x...
NEXT_PUBLIC_USDC_ADDRESS=0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee7e0d5ebb06f3ecf368a8
